<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charity.x.dao.CharityDonorNoteDao">

    <resultMap id="VoMap" type="com.charity.x.dto.vo.CharityDonorNoteVo">
        <result column="chain" property="chain"/>
        <result column="wallet" property="wallet"/>
        <result column="note" property="note"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Business_Column">
        id,chain,wallet,note,create_time
    </sql>

    <insert id="save">
        insert into charity_donor_note (chain,wallet,note)
        values (#{chain},#{wallet},#{note})
    </insert>

    <select id="queryByWallet" resultMap="VoMap">
        select <include refid="Business_Column"/>
        from charity_donor_note
        where wallet = #{wallet}
        order by create_time desc
    </select>


</mapper>