<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charity.x.dao.CharityDonationRecordDao">

    <resultMap id="VoMap" type="com.charity.x.dto.vo.CharityDonationRecordVo">
        <result column="day" property="day"/>
        <result column="user_id" property="userId"/>
        <result column="chain" property="chain"/>
        <result column="donor_wallet" property="donorWallet"/>
        <result column="foundation_wallet" property="foundationWallet"/>
        <result column="tx_hash" property="txHash"/>
        <result column="token" property="token"/>
        <result column="value" property="value"/>
        <result column="amount" property="amount"/>
        <result column="ein" property="ein"/>
        <result column="nft_image" property="nftImage"/>
        <result column="nft_id" property="nftId"/>
        <result column="pay_time" property="payTime"/>
        <result column="pay_status" property="payStatus"/>
        <result column="error" property="error"/>
        <result column="pdf_url" property="pdfUrl"/>
    </resultMap>

    <sql id="BusinessColumn">
        id
        ,day,user_id,chain,donor_wallet,foundation_wallet,tx_hash,token,value,amount,ein,nft_image,nft_id,pay_time,pay_status,error,pdf_url
    </sql>

    <insert id="save">
        insert into charity_donation_record (
        <if test="day != null">
            day,
        </if>
        <if test="chain != null">
            chain,
        </if>
        <if test="donorWallet != null">
            donor_wallet,
        </if>
        <if test="foundationWallet != null">
            foundation_wallet,
        </if>
        <if test="txHash != null">
            tx_hash,
        </if>
        <if test="token != null">
            token,
        </if>
        <if test="value != null">
            value,
        </if>
        <if test="amount != null">
            amount,
        </if>
        <if test="ein != null">
            ein,
        </if>
        <if test="nftImage != null">
            nft_image,
        </if>
        <if test="nftId != null">
            nft_id,
        </if>
        <if test="payTime != null">
            pay_time,
        </if>
        <if test="payStatus != null">
            pay_status,
        </if>
        <if test="error != null">
            error,
        </if>
        <if test="pdfUrl != null">
            pdf_url,
        </if>
        user_id
        )
        values (
        <if test="day != null">
            #{day},
        </if>
        <if test="chain != null">
            #{chain},
        </if>
        <if test="donorWallet != null">
            #{donorWallet},
        </if>
        <if test="foundationWallet != null">
            #{foundationWallet},
        </if>
        <if test="txHash != null">
            #{txHash},
        </if>
        <if test="token != null">
            #{token},
        </if>
        <if test="value != null">
            #{value},
        </if>
        <if test="amount != null">
            #{amount},
        </if>
        <if test="ein != null">
            #{ein},
        </if>
        <if test="nftImage != null">
            #{nftImage},
        </if>
        <if test="nftId != null">
            #{nftId},
        </if>
        <if test="payTime != null">
            #{payTime},
        </if>
        <if test="payStatus != null">
            #{payStatus},
        </if>
        <if test="error != null">
            #{error},
        </if>
        <if test="pdfUrl != null">
            #{pdfUrl},
        </if>
        #{userId}
        )
    </insert>
    <update id="updateById">
        update charity_donation_record
        <set>
            <if test="day != null">
                day = #{day},
            </if>
            <if test="chain != null and chain != '' ">
                chain = #{chain},
            </if>
            <if test="donorWallet != null and donorWallet != '' ">
                donor_wallet = #{donorWallet},
            </if>
            <if test="foundationWallet != null and foundationWallet != '' ">
                foundation_wallet = #{foundationWallet},
            </if>
            <if test="txHash != null and txHash != '' ">
                tx_hash = #{txHash},
            </if>
            <if test="token != null and token != '' ">
                token = #{token},
            </if>
            <if test="value != null">
                value = #{value},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="nftImage != null and nftImage != '' ">
                nft_image = #{nftImage},
            </if>
            <if test="nftId != null and nftId != '' ">
                nft_id = #{nftId},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime},
            </if>
            <if test="payStatus != null">
                pay_status = #{payStatus},
            </if>
            <if test="error != null and error != ''">
                error = #{error},
            </if>
            <if test="pdfUrl != null and pdfUrl != ''">
                pdf_url = #{pdfUrl},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="queryDonationSummary" resultType="com.charity.x.dto.vo.CharityDonationSummaryVo">
        select count(distinct donor_wallet) as donors,
               IFNULL(sum(amount), 0)       as totalDonations,
               count(id)                    as donationCount
        from charity_donation_record
        where user_id = #{userId}
          and pay_status = 4
    </select>

    <select id="queryWalletSummaryList" resultType="com.charity.x.dto.vo.CharityDonationWalletSummaryVo">
        select
        chain ,
        donor_wallet as donorWallet,
        sum(amount) as totalDonations,
        count(id) as donationCount,
        max(pay_time) as lastDonation
        from charity_donation_record
        where user_id = #{userId}
        and pay_status = #{payStatus}
        <if test="donorWallet != null and donorWallet != '' ">
            and donor_wallet = #{donorWallet}
        </if>
        <if test="minAmount != null">
            and amount &gt;= #{minAmount}
        </if>
        <if test="maxAmount != null">
            and amount &lt;= #{maxAmount}
        </if>
        group by donor_wallet,chain
        order by lastDonation desc
    </select>
    <select id="queryWalletLastList" resultType="com.charity.x.dto.vo.CharityDonationWalletSummaryVo">
        select donor_wallet as donorWallet, amount as lastAmount
        from charity_donation_record
        where id in (
        select max(id) from charity_donation_record
        where user_id = #{userId}
        and pay_status = 4
        and donor_wallet in
        <foreach item="wallet" collection="walletList" separator="," open="(" close=")">
            #{wallet}
        </foreach>
        group by donor_wallet
        )
    </select>

    <select id="queryRecordList" resultMap="VoMap">
        select
        <include refid="BusinessColumn"/>
        from charity_donation_record
        where user_id = #{userId}
        and pay_status = #{payStatus}
        <if test="donorWallet != null and donorWallet != '' ">
            and donor_wallet = #{donorWallet}
        </if>
        <if test="chain != null and chain != '' ">
            and chain = #{chain}
        </if>
        <if test="token != null and token != '' ">
            and token = #{token}
        </if>
        <if test="minAmount != null">
            and amount &gt;= #{minAmount}
        </if>
        <if test="maxAmount != null">
            and amount &lt;= #{maxAmount}
        </if>
        <if test="day != null">
            and day = #{day}
        </if>
        <if test="startDay != null">
            and day >= #{startDay}
        </if>
        <if test="endDay != null">
            and day &lt;= #{endDay}
        </if>
        order by pay_time desc
    </select>
    <select id="queryReportTrendList" resultType="com.charity.x.dto.vo.CharityReportTrendVo$Trend">
        select sum(amount)                  as amount,
               count(distinct donor_wallet) as donors, day
        from charity_donation_record
        where user_id = #{userId}
          and pay_status = 4
          and day >= #{startDay}
          and day &lt;= #{endDay}
        group by day
        order by day asc
    </select>
    <select id="queryChainDistribution"
            resultType="com.charity.x.dto.vo.CharityReportDistributionVo$Distribution">
        select chain                        as name,
               count(distinct donor_wallet) as donors,
               sum(amount)                  as donationAmount,
               sum(amount)                  as calculateAmount
        from charity_donation_record
        where user_id = #{userId}
          and pay_status = 4
        group by chain
        order by calculateAmount asc
    </select>
    <select id="queryTokenDistribution"
            resultType="com.charity.x.dto.vo.CharityReportDistributionVo$Distribution">
        select token                        as name,
               count(distinct donor_wallet) as donors,
               sum(amount)                  as donationAmount,
               sum(amount)                  as calculateAmount
        from charity_donation_record
        where user_id = #{userId}
          and pay_status = 4
        group by token
        order by calculateAmount asc
    </select>
    <select id="queryDonationFrequencyDistribution"
            resultType="com.charity.x.dto.vo.CharityReportDistributionVo$Distribution">
        select c                            as name,
               count(distinct donor_wallet) as donors,
               sum(donationAmount)          as donationAmount,
               count(*)                     as calculateAmount
        from (select donor_wallet,
                     sum(amount)                               as donationAmount,
                     if(count(id) > #{max}, #{max}, count(id)) as c
              from charity_donation_record
              where user_id = #{userId}
                and pay_status = 4
              group by donor_wallet) t
        group by t.c
        order by c asc
    </select>
    <select id="queryByTxHash" resultMap="VoMap">
        select
        <include refid="BusinessColumn"/>
        from charity_donation_record
        where tx_hash = #{txHash}
        and chain = #{chain}
    </select>
    <select id="queryByTxHashAndDonorWalletAndFoundationWallet" resultMap="VoMap">
        select
        <include refid="BusinessColumn"/>
        from charity_donation_record
        where tx_hash = #{txHash}
        and donor_wallet = #{donorWallet}
        and foundation_wallet = #{foundationWallet}
        and chain = #{chain}
    </select>
    <select id="queryPendingList" resultMap="VoMap">
        select
        <include refid="BusinessColumn"/>
        from charity_donation_record
        where pay_status = 0
        and pay_time &gt; #{payTimeStart}
        and pay_time &lt; #{payTimeEnd}

    </select>
    <select id="queryMaxAmount" resultType="java.math.BigDecimal">
        select Max(amount)
        from charity_donation_record
        where user_id = #{userId}
          and pay_status = 4
    </select>
    <select id="queryAmountDistribution"
            resultType="com.charity.x.dto.vo.CharityReportDistributionVo$Distribution">
        select count(distinct donor_wallet) as donors,
               sum(amount)                  as donationAmount,
               count(*)                     as calculateAmount
        from charity_donation_record
        where user_id = #{userId}
          and pay_status = 4
          and amount &gt; #{startAmount}
          and amount &lt;= #{endAmount}
    </select>
    <select id="queryById" resultMap="VoMap">
        select
        <include refid="BusinessColumn"/>
        from charity_donation_record
        where id = #{id}
    </select>


</mapper>