<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charity.x.dao.CharityNonprofitDao">

    <resultMap id="VoMap" type="com.charity.x.dto.vo.CharityNonprofitVo">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="nonprofit_name" property="nonprofitName"/>
        <result column="proof_image" property="proofImage"/>
        <result column="status" property="status"/>
        <result column="application_Date" property="applicationDate"/>
        <result column="snapshot_nonprofit_name" property="snapshotNonprofitName"/>
        <result column="snapshot_proof_image" property="snapshotProofImage"/>
        <result column="snapshot_check_status" property="snapshotCheckStatus"/>
        <result column="snapshot_application_date" property="snapshotApplicationDate"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <sql id="Business_Column">
        id
        , user_id, nonprofit_name, proof_image, status, application_date, snapshot_nonprofit_name, snapshot_proof_image, snapshot_check_status, snapshot_application_date, create_by, update_by
    </sql>

    <insert id="save">
        insert into charity_nonprofit (
        user_id
        <if test="nonprofitName != null">,nonprofit_name</if>
        <if test="proofImage != null">,proof_image</if>
        <if test="status != null">,status</if>
        <if test="applicationDate != null">,application_date</if>
        <if test="snapshotNonprofitName != null">,snapshot_nonprofit_name</if>
        <if test="snapshotProofImage != null">,snapshot_proof_image</if>
        <if test="snapshotCheckStatus != null">,snapshot_check_status</if>
        <if test="snapshotApplicationDate != null">,snapshot_application_date</if>
        <if test="createBy != null">,create_by</if>
        <if test="updateBy != null">,update_by</if>
        )
        values (
        #{userId}
        <if test="nonprofitName != null">,#{nonprofitName}</if>
        <if test="proofImage != null">,#{proofImage}</if>
        <if test="status != null">,#{status}</if>
        <if test="applicationDate != null">,#{applicationDate}</if>
        <if test="snapshotNonprofitName != null">,#{snapshotNonprofitName}</if>
        <if test="snapshotProofImage != null">,#{snapshotProofImage}</if>
        <if test="snapshotCheckStatus != null">,#{snapshotCheckStatus}</if>
        <if test="snapshotApplicationDate != null">,#{snapshotApplicationDate}</if>
        <if test="createBy != null">,#{createBy}</if>
        <if test="updateBy != null">,#{updateBy}</if>
        )
    </insert>
    <update id="updateById">
        update charity_nonprofit
        <set>
            <if test="nonprofitName != null">nonprofit_name = #{nonprofitName},</if>
            <if test="proofImage != null">proof_image = #{proofImage},</if>
            <if test="status != null">status = #{status},</if>
            <if test="applicationDate != null">application_date = #{applicationDate},</if>
            <if test="snapshotNonprofitName != null">snapshot_nonprofit_name = #{snapshotNonprofitName},</if>
            <if test="snapshotProofImage != null">snapshot_proof_image = #{snapshotProofImage},</if>
            <if test="snapshotCheckStatus != null">snapshot_check_status = #{snapshotCheckStatus},</if>
            <if test="snapshotApplicationDate != null">snapshot_application_date = #{snapshotApplicationDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </set>
        where id = #{id}
    </update>
    <update id="deleteSnapshotByUserId">
        update charity_nonprofit
        set snapshot_nonprofit_name   = '',
            snapshot_proof_image      = '',
            snapshot_check_status     = 0,
            snapshot_application_date = now()
        where user_id = #{userId}
    </update>

    <select id="getByUserId" resultMap="VoMap">
        select
        <include refid="Business_Column"/>
        from charity_nonprofit
        where user_id = #{userId}
    </select>

    <select id="queryListWithUser" resultType="com.charity.x.dto.vo.CharityNonprofitVo">
        select su.email as email,su.first_name as firstName, su.last_name as lastName,
        cn.user_id as userId, cn.nonprofit_name as nonprofitName, cn.proof_image as proofImage, cn.status as status,
        cn.application_date as applicationDate,
        cn.snapshot_nonprofit_name as snapshotNonprofitName, cn.snapshot_proof_image as snapshotProofImage,
        cn.snapshot_check_status as snapshotCheckStatus,
        cn.snapshot_application_date as snapshotApplicationDate
        from charity_nonprofit cn
        inner join sys_user su on cn.user_id = su.id
        where cn.is_deleted = 0
        <if test="userId != null">and cn.user_id = #{userId}</if>
        <if test="status != null">and cn.status = #{status})</if>
        <if test="notStatus != null">and cn.status != #{notStatus}</if>
        <if test="nonprofitName != null and nonprofitName != '' ">and cn.nonprofit_name like
            concat('%',#{nonprofitName},'%')
        </if>
        <if test="snapshotCheckStatus != null">and cn.snapshot_check_status = #{snapshotCheckStatus}</if>
        <if test="snapshotNonprofitName != null and snapshotNonprofitName != '' ">and cn.snapshot_nonprofit_name like
            concat('%',#{snapshotNonprofitName},'%')
        </if>
        <if test="email != null and email != '' ">and su.email like concat('%',#{email},'%')</if>

        <if test="status != null or notStatus != null">order by cn.application_date desc</if>
        <if test="snapshotCheckStatus != null">order by cn.snapshot_application_date desc</if>
    </select>


</mapper>