<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charity.x.dao.SysUserDao">

    <resultMap id="VoMap" type="com.charity.x.dto.vo.SysUserVo">
        <result column="id" property="id"/>
        <result column="provider" property="provider"/>
        <result column="provider_id" property="providerId"/>
        <result column="group_user_id" property="groupUserId"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="phone" property="phone"/>
        <result column="country" property="country"/>
        <result column="city" property="city"/>
        <result column="occupation" property="occupation"/>
        <result column="avatar" property="avatar"/>
        <result column="status" property="status"/>
        <result column="last_login_time" property="lastLoginTime"/>
    </resultMap>

    <sql id="Business_Column">
        id
        , provider, provider_id, group_user_id, email, password, first_name, last_name, gender, age, phone, country, city, occupation, avatar, status, last_login_time
    </sql>

    <insert id="saveOne" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user (
        provider
        <if test="providerId != null">,provider_id</if>
        <if test="groupUserId != null">,group_user_id</if>
        <if test="email != null">,email</if>
        <if test="password != null">,password</if>
        <if test="firstName != null">,first_name</if>
        <if test="lastName != null">,last_name</if>
        <if test="gender != null">,gender</if>
        <if test="age != null">,age</if>
        <if test="phone != null">,phone</if>
        <if test="country != null">,country</if>
        <if test="city != null">,city</if>
        <if test="occupation != null">,occupation</if>
        <if test="avatar != null">,avatar</if>
        <if test="status != null">,status</if>
        <if test="lastLoginTime != null">,last_login_time</if>
        <if test="createBy != null">,createBy</if>
        <if test="updateBy != null">,updateBy</if>
        )
        values (
        #{provider}
        <if test="providerId != null">, #{providerId}</if>
        <if test="groupUserId != null">, #{groupUserId}</if>
        <if test="email != null">,#{email}</if>
        <if test="password != null">,#{password}</if>
        <if test="firstName != null">,#{firstName}</if>
        <if test="lastName != null">,#{lastName}</if>
        <if test="gender != null">,#{gender}</if>
        <if test="age != null">,#{age}</if>
        <if test="phone != null">,#{phone}</if>
        <if test="country != null">,#{country}</if>
        <if test="city != null">,#{city}</if>
        <if test="occupation != null">,#{occupation}</if>
        <if test="avatar != null">,#{avatar}</if>
        <if test="status != null">,#{status}</if>
        <if test="lastLoginTime != null">,#{lastLoginTime}</if>
        <if test="createBy != null">,#{createBy}</if>
        <if test="updateBy != null">,#{updateBy}</if>
        )
    </insert>
    <update id="updateById">
        update sys_user
        <set>
            <if test="provider != null">provider = #{provider},</if>
            <if test="providerId != null">provider_id = #{providerId},</if>
            <if test="groupUserId != null">group_user_id = #{groupUserId},</if>
            <if test="email != null and email != '' ">email = #{email},</if>
            <if test="password != null and password != '' ">password = #{password},</if>
            <if test="firstName != null and firstName != '' ">first_name = #{firstName},</if>
            <if test="lastName != null and lastName != '' ">last_name = #{lastName},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="age != null">age = #{age},</if>
            <if test="phone != null and phone != '' ">phone = #{phone},</if>
            <if test="country != null and country != '' ">country = #{country},</if>
            <if test="city != null and city != '' ">city = #{city},</if>
            <if test="occupation != null and occupation != '' ">occupation = #{occupation},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="status != null">status = #{status},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="updateBy != null">updateBy = #{updateBy},</if>
        </set>
        where id = #{id}
    </update>

    <select id="getUserByEmail" resultMap="VoMap">
        select
        <include refid="Business_Column"/>
        from sys_user
        where email = #{email}
    </select>

    <select id="getUserRoles" resultType="com.charity.x.dto.entity.SysRole">
        select role_code as roleCode, role_name as roleName, description
        from sys_role sr
                 inner join sys_user_role sur on sr.id = sur.role_id
        where sur.user_id = #{userId}
    </select>
    <select id="queryByProvider" resultMap="VoMap">
        select
        <include refid="Business_Column"/>
        from sys_user
        where provider = #{provider}
        and provider_id = #{providerId}
        <if test="groupUserId != null">and group_user_id = #{groupUserId}</if>
        limit 1
    </select>
    <select id="queryById" resultMap="VoMap">
        select
        <include refid="Business_Column"/>
        from sys_user
        where id = #{id}
    </select>
    <select id="queryOnlyRegister" resultMap="VoMap">
        select su.id,email, first_name, last_name,su.create_time as mergeDate
        from sys_user su
        left join charity_nonprofit cn on cn.user_id = su.id
        where su.provider in ("EMAIL","GOOGLE","X")
        and su.is_deleted = 0 and cn.id is null
        <if test="email != null">and email like concat('%', #{email}, '%')</if>
        order by su.create_time desc
    </select>
</mapper>